CAMERA_ID=stream_to_matter_camera
CAMERA_NAME=Stream to Matter Camera
CAMERA_RTSP_URL=rtsp://127.0.0.1:8554/camera
CAMERA_ONVIF_HOST=192.168.68.59
CAMERA_ONVIF_PORT=80
CAMERA_ONVIF_USER=rtsp
CAMERA_ONVIF_PASSWORD=change-me
CAMERA_MEDIA_SOURCE=rtsp://user:password@192.168.68.59:554/av_stream/ch0
